
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"></div>
                <div class="intro-heading">¡Nos casamos!</div>
                <a href="#historia" class="page-scroll btn btn-xl">¿Cómo?</a>
                <a href="#celebracion" class="page-scroll btn btn-xl">¿Dónde?</a>
            </div>
        </div>
    </header>

<!-- boda Section -->
    <section id="boda">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Boda</h2>
                    <h3 class="section-subheading text-muted">Nos casamos y queremos que formes parte de nuestra historia.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <a href="#celebracion" class="page-scroll">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-building fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <h4 class="service-heading">¿Dónde?</h4>
                    <p class="text-muted">Hotel Santo Domingo en el centro de Madrid, dónde hay disponible un aparcamiento.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">¿Cuando?</h4>
                    <p class="text-muted">La celebración será el 15 de agosto de 2015. A las 21:15. Eseperamos que esteis todos</p>
                </div>
                <div class="col-md-4">
                    <a href="#historia" class="page-scroll">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <h4 class="service-heading">Historia</h4>
                    <p class="text-muted">¿Tienes curiosidad de cómo nos conocimos? Echa un vistazo para repasarlo junto a nosotros <span class="fa fa-smile-o"></span></p>
                </div>
            </div>
        </div>
    </section>

<!-- Historia Grid Section -->
    <section id="historia" class="bg-light-gray">
      <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Historia</h2>
                    <h3 class="section-subheading text-muted">¿Cómo nos cruzamos?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/historia/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1982</h4>
                                    <h4 class="subheading">Nace Antonio José</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Nace en Ciudad Real</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/historia/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1985</h4>
                                    <h4 class="subheading">Nace Eva</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Nace en Don Benito... ¡y comienza su viaje!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/historia/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2008</h4>
                                    <h4 class="subheading">¡Salsa!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Las primeras clases de salsa de Antonio, arrastrado por Mariano. Y allí... ¡conoce a Eva! Comienzan a conocerse y hacerse amigos.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/historia/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Octubre 2010</h4>
                                    <h4 class="subheading">¡Comenzamos!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Después de casi 2 años conociendonos, decidimos conocernos más y emprender una inolvidable aventura.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/historia/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Noviembre 2011</h4>
                                    <h4 class="subheading">Viviendo juntos</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Primer nido de amor. Primeros años de </p>
                                </div>
                            </div>
                        </li>
                         <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/historia/6.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2013</h4>
                                    <h4 class="subheading">Y ella dice...</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">¡Sí! Antonio propone matrimonio a Eva, y ella dice que sí.
                                        Contra todo pronósitco Eva acepta ;)</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4>¡Sé parte
                                    <br>de nuestra
                                    <br>Historia!</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>15 Agosto 2015</h4>
                                </div>
                                
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </section>

    <!-- celebracion Section -->
    <section id="celebracion">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">¿Dónde?</h2>
                    <h3 class="section-subheading text-muted">La celebración, coctel y posterior cena será en el <a href="http://hotelsantodomingo.es/es" target="_blank">Hotel Santo Domingo</a>.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 portfolio-item text-center">
                    <img src="http://hotelsantodomingo.es/sites/default/files/bizarea/terraza11.jpg" width="500" height="387" >                    
                    <div class="portfolio-caption">
                        <h4>Terraza</h4>
                        <p class="text-muted">Lugar elegido para la celebración y posterior cóctel.
                        <a href="http://hotelsantodomingo.es/es/piscina-azotea">Ver más detalles</a>
                        </p>
                        <h4>&nbsp;</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 portfolio-item text-center">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <img src="http://hotelsantodomingo.es/sites/default/files/bizarea/5518876080331b6eea54b0.jpg" width="500" height="281">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Salón Belvedere</h4>
                        <p class="text-muted">Lugar del banquete.
                        <a href="http://hotelsantodomingo.es/es/bodas">Ver más detalles</a>
                        </p>
                        <h4>&nbsp;</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 portfolio-item text-center">
                    <img src="http://hotelsantodomingo.es/sites/default/files/bizvalue/5857281044276419a330b.jpg" width="500" height="331">
                    <div class="portfolio-caption">
                        <h4>Jardín Vertical</h4>
                        <p class="text-muted">Localizado junto a la terraza, unas vistas increibles y sorprendentes.
                        <a href="http://hotelsantodomingo.es/es/jardin-colgante" >Ver más detalles</a>
                        </p>
                        <h4>&nbsp;</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 portfolio-item text-center">
                    <a class="portfolio-link" href="https://mapsengine.google.com/map/edit?mid=zajB_DWzBZYw.k-eh5uLnzx7c" id="mapahotelmadrid" target="_blank"><img alt="" src="https://s3-eu-west-1.amazonaws.com/blogopro-images/bigbanner_840x280_nolupa/Mapa+Madrid+centro+turismo.png"></a>
                    <div class="portfolio-caption">
                        <h4>Direcciones</h4>
                        <p class="text-muted">Obtenga <a href="https://mapsengine.google.com/map/edit?mid=zajB_DWzBZYw.k-eh5uLnzx7c" id="mapahotelmadrid" target="_blank">direcciones de cómo llegar al hotel</a>.</p>    
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <section id="contacto"  class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Para contactarnos</h2>
                    <h3 class="section-subheading text-muted">Y para confirmar tu asistencia si no lo has hecho todavía.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="images/antonio_web_contacto.png" class="img-responsive img-circle" alt="">
                        <h4>Antonio José Iniesta Gracia</h4>
                        <p class="text-muted">637 08 09 81</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://twitter.com/ajiniesta" target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/antoniojose.iniestagracia" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="mailto:antonioj.iniesta@gmail.com"><i class="fa fa-envelope-o"></i></a>
                            </li>
                            <li><a href="https://github.com/ajiniesta" target="_blank"><i class="fa fa-github"></i></a></li>
                            <li><a href="http://stackoverflow.com/users/1428460/antonio-j" target="_blank"><i class="fa fa-stack-overflow"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="images/eva_web_contacto.png" class="img-responsive img-circle" alt="">
                        <h4>Eva Pérez Moya</h4>
                        <p class="text-muted">610 76 18 17</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://twitter.com/EvaBioBio" target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/profile.php?id=738079504" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="mailto:perez.moya.eva@gmail.com"><i class="fa fa-envelope-o"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h4>Comentarios</h4>
                    <p>Deja tus comentarios sobre la boda, confirmar tu asistencia, si tienes alguna alergia o petición en la comida, o simplemente nos quereis saludar. <span class="fa fa-smile-o"></span></p>
                    <ul ng-repeat="it in awesomeThings">
                        <li>{{it}}</li>
                    </ul>
                    <p>{{kk}}</p>
                    <input ng-model="kk"/> 
                    <p>{{greeting.id}} ----- {{greeting.content}}</p>
                </div>
                <div class="col-sm-6">
                    <form name="commentForm" ng-submit="commentForm.$valid && send(data)" novalidate>
                        <fieldset class="form-group">
                            <input ng-model="data.who" type="text" class="form-control" placeholder="¿Quién?" title="Quien" required/>
                        </fieldset>
                        <fieldset class="form-group">
                            <textarea ng-model = "data.comment" class="form-control" placeholder="Escribir cualquier comentario" title="Comentario" required></textarea>
                        </fieldset>
                        <fieldset class="form-group">
                            <input type="submit" class="btn btn-primary pull-right" value="Enviar"/>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>
